---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  bugprone-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-convert-member-functions-to-static,
  -modernize-pass-by-value,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -modernize-use-nodiscard,
  -modernize-use-auto,
  -modernize-return-braced-init-list,
  -modernize-use-default-member-init,
  -modernize-loop-convert,
  -performance-enum-size,
  -performance-unnecessary-value-param,
  -performance-unnecessary-copy-initialization,
  -bugprone-throwing-static-initialization,
  -readability-braces-around-statements,
  -readability-implicit-bool-conversion,
  -readability-math-missing-parentheses,
  -readability-isolate-declaration,
  -readability-redundant-access-specifiers,
  -readability-enum-initial-value,
  -readability-make-member-function-const,
  -readability-function-cognitive-complexity,
CheckOptions:
  readability-function-cognitive-complexity: IgnoreMacros
WarningsAsErrors: 'modernize-*,performance-*,bugprone-*'
HeaderFilterRegex: 'src/.*'
FormatStyle: file
...
