<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Devpad.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Devpad.MySettings>
            <setting name="MainWindow_Size" serializeAs="String">
                <value>480, 420</value>
            </setting>
            <setting name="MainWindow_Loc" serializeAs="String">
                <value>32, 32</value>
            </setting>
            <setting name="MainWindow_IsMax" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Options_StartupMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindow_ShowStatusbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindow_ShowToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Options_ShowLineNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Options_CloseButtonMade" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindow_ShowMenubar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExTools" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
                </value>
            </setting>
            <setting name="Options_RecentFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
                </value>
            </setting>
            <setting name="Options_DefaultFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Options_DefaultEncoding" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Options_DefaultFont" serializeAs="String">
                <value>Courier New</value>
            </setting>
            <setting name="Options_DefaultFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="Options_Browser_Chrome" serializeAs="String">
                <value>chrome.exe</value>
            </setting>
            <setting name="Options_CodeCollapsing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Options_Browser_Firefox" serializeAs="String">
                <value>firefox.exe</value>
            </setting>
            <setting name="Options_Browser_IE" serializeAs="String">
                <value>iexplore.exe</value>
            </setting>
            <setting name="Options_Browser_Opera" serializeAs="String">
                <value>opera.exe</value>
            </setting>
            <setting name="Options_Browser_Safari" serializeAs="String">
                <value>safari.exe</value>
            </setting>
            <setting name="Options_ScrollPastContent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Options_WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Options_Theme" serializeAs="String">
                <value>2</value>
            </setting>
        </Devpad.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
