<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*"
             Name="Devpad"
             Language="1033"
             Version="1.0"
             Manufacturer="Semagsoft"
             UpgradeCode="A1B2C3D4-E5F6-7890-ABCD-EF1234567890">

        <Package InstallerVersion="200"
                 Compressed="yes"
                 InstallScope="perMachine"
                 Manufacturer="Semagsoft"
                 Description="Devpad Code Editor"
                 Keywords="editor,code,qt"
                 Comments="Devpad is a C++/Qt6 code editor"
                 Platform="x64" />

        <Media Id="1" Cabinet="devpad.cab" EmbedCab="yes" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of Devpad is already installed." />

        <Icon Id="app.ico" SourceFile="devpad.ico" />
        <Property Id="ARPPRODUCTICON" Value="app.ico" />
        <Property Id="ARPHELPLINK" Value="https://semagsoft.com" />

        <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />

        <UIRef Id="WixUI_InstallDir" />

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <Property Id="INSTALLDIR">
            <RegistrySearch Id="RegSearchInstallDir"
                            Root="HKLM"
                            Key="Software\Microsoft\Windows\CurrentVersion\App Paths\Devpad.exe"
                            Type="raw" />
        </Property>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLDIR" Name="Devpad">
                    <Directory Id="PLATFORMSDIR" Name="platforms" />
                    <Directory Id="STYLESDIR" Name="styles" />
                    <Directory Id="IMAGEFORMATSDIR" Name="imageformats" />
                    <Directory Id="ICONENGINESDIR" Name="iconengines" />
                    <Directory Id="MULTIMEDIADIR" Name="multimedia" />
                    <Directory Id="NETWORKINFODIR" Name="networkinformation" />
                    <Directory Id="TLSDIR" Name="tls" />
                    <Directory Id="GENERICDIR" Name="generic" />
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="Devpad" />
            </Directory>
            <Directory Id="DesktopFolder" />
        </Directory>

        <DirectoryRef Id="INSTALLDIR">
            <Component Id="Devpad.exe" Guid="*">
                <File Id="Devpad.exe" Name="Devpad.exe" Source="..\build\dist\Devpad.exe" KeyPath="yes" />
            </Component>

            <Component Id="Shortcuts" Guid="*">
                <RegistryValue Root="HKCU"
                               Key="Software\Semagsoft\Devpad"
                               Name="installed"
                               Type="integer"
                               Value="1"
                               KeyPath="yes" />
                <Shortcut Id="StartMenuShortcut"
                          Directory="ProgramMenuDir"
                          Name="Devpad"
                          WorkingDirectory="INSTALLDIR"
                          Icon="app.ico" />
                <Shortcut Id="DesktopShortcut"
                          Directory="DesktopFolder"
                          Name="Devpad"
                          WorkingDirectory="INSTALLDIR"
                          Icon="app.ico" />
                <RemoveFolder Id="RemoveProgramMenuDir" Directory="ProgramMenuDir" On="uninstall" />
            </Component>

            <Component Id="License" Guid="*">
                <File Id="LICENSE" Name="LICENSE" Source="..\LICENSE" KeyPath="yes" />
            </Component>

            <Component Id="RegistryEntries" Guid="*">
                <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\App Paths\Devpad.exe">
                    <RegistryValue Type="string" Value="[INSTALLDIR]Devpad.exe" />
                    <RegistryValue Type="string" Name="Path" Value="[INSTALLDIR]" />
                </RegistryKey>
                <RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\Devpad">
                    <RegistryValue Type="string" Name="DisplayName" Value="Devpad" />
                    <RegistryValue Type="string" Name="UninstallString" Value="[System64Folder]msiexec.exe /x [ProductCode]" />
                    <RegistryValue Type="string" Name="DisplayVersion" Value="1.0" />
                    <RegistryValue Type="string" Name="Publisher" Value="Semagsoft" />
                    <RegistryValue Type="string" Name="URLInfoAbout" Value="https://semagsoft.com" />
                    <RegistryValue Type="integer" Name="NoModify" Value="1" />
                    <RegistryValue Type="integer" Name="NoRepair" Value="1" />
                </RegistryKey>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="PLATFORMSDIR">
            <Component Id="qwindows.dll" Guid="*">
                <File Id="qwindows.dll" Name="qwindows.dll" Source="..\build\dist\platforms\qwindows.dll" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="STYLESDIR">
            <Component Id="qmodernwindowsstyle.dll" Guid="*">
                <File Id="qmodernwindowsstyle.dll" Name="qmodernwindowsstyle.dll" Source="..\build\dist\styles\qmodernwindowsstyle.dll" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="IMAGEFORMATSDIR">
            <Component Id="qgif.dll" Guid="*">
                <File Id="qgif.dll" Name="qgif.dll" Source="..\build\dist\imageformats\qgif.dll" KeyPath="yes" />
            </Component>
            <Component Id="qico.dll" Guid="*">
                <File Id="qico.dll" Name="qico.dll" Source="..\build\dist\imageformats\qico.dll" KeyPath="yes" />
            </Component>
            <Component Id="qjpeg.dll" Guid="*">
                <File Id="qjpeg.dll" Name="qjpeg.dll" Source="..\build\dist\imageformats\qjpeg.dll" KeyPath="yes" />
            </Component>
            <Component Id="qsvg.dll" Guid="*">
                <File Id="qsvg.dll" Name="qsvg.dll" Source="..\build\dist\imageformats\qsvg.dll" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="ICONENGINESDIR">
            <Component Id="qsvgicon.dll" Guid="*">
                <File Id="qsvgicon.dll" Name="qsvgicon.dll" Source="..\build\dist\iconengines\qsvgicon.dll" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="MULTIMEDIADIR">
            <Component Id="ffmpegmediaplugin.dll" Guid="*">
                <File Id="ffmpegmediaplugin.dll" Name="ffmpegmediaplugin.dll" Source="..\build\dist\multimedia\ffmpegmediaplugin.dll" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="NETWORKINFODIR">
            <Component Id="qglib.dll" Guid="*">
                <File Id="qglib.dll" Name="qglib.dll" Source="..\build\dist\networkinformation\qglib.dll" KeyPath="yes" />
            </Component>
            <Component Id="qnetworklistmanager.dll" Guid="*">
                <File Id="qnetworklistmanager.dll" Name="qnetworklistmanager.dll" Source="..\build\dist\networkinformation\qnetworklistmanager.dll" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="TLSDIR">
            <Component Id="qcertonlybackend.dll" Guid="*">
                <File Id="qcertonlybackend.dll" Name="qcertonlybackend.dll" Source="..\build\dist\tls\qcertonlybackend.dll" KeyPath="yes" />
            </Component>
            <Component Id="qschannelbackend.dll" Guid="*">
                <File Id="qschannelbackend.dll" Name="qschannelbackend.dll" Source="..\build\dist\tls\qschannelbackend.dll" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="GENERICDIR">
            <Component Id="qtuiotouchplugin.dll" Guid="*">
                <File Id="qtuiotouchplugin.dll" Name="qtuiotouchplugin.dll" Source="..\build\dist\generic\qtuiotouchplugin.dll" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <!-- Qt translations go here if available -->

        <DirectoryRef Id="INSTALLDIR">
            <Component Id="devpad_de.qm" Guid="*">
                <File Id="devpad_de.qm" Name="devpad_de.qm" Source="..\build\dist\devpad_de.qm" KeyPath="yes" />
            </Component>
            <Component Id="devpad_es.qm" Guid="*">
                <File Id="devpad_es.qm" Name="devpad_es.qm" Source="..\build\dist\devpad_es.qm" KeyPath="yes" />
            </Component>
            <Component Id="devpad_fr.qm" Guid="*">
                <File Id="devpad_fr.qm" Name="devpad_fr.qm" Source="..\build\dist\devpad_fr.qm" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="INSTALLDIR">
            <Component Id="DLL_avcodec" Guid="*">
                <File Id="avcodec_62_dll" Name="avcodec-62.dll" Source="..\build\dist\avcodec-62.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_avformat" Guid="*">
                <File Id="avformat_62_dll" Name="avformat-62.dll" Source="..\build\dist\avformat-62.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_avutil" Guid="*">
                <File Id="avutil_60_dll" Name="avutil-60.dll" Source="..\build\dist\avutil-60.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_D3Dcompiler" Guid="*">
                <File Id="D3Dcompiler_47_dll" Name="D3Dcompiler_47.dll" Source="..\build\dist\D3Dcompiler_47.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libb2" Guid="*">
                <File Id="libb2_1_dll" Name="libb2-1.dll" Source="..\build\dist\libb2-1.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libbrotlicommon" Guid="*">
                <File Id="libbrotlicommon_dll" Name="libbrotlicommon.dll" Source="..\build\dist\libbrotlicommon.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libbrotlidec" Guid="*">
                <File Id="libbrotlidec_dll" Name="libbrotlidec.dll" Source="..\build\dist\libbrotlidec.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libbrotlienc" Guid="*">
                <File Id="libbrotlienc_dll" Name="libbrotlienc.dll" Source="..\build\dist\libbrotlienc.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libbz2" Guid="*">
                <File Id="libbz2_1_dll" Name="libbz2-1.dll" Source="..\build\dist\libbz2-1.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libcairo" Guid="*">
                <File Id="libcairo_2_dll" Name="libcairo-2.dll" Source="..\build\dist\libcairo-2.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libcairo_gobject" Guid="*">
                <File Id="libcairo_gobject_2_dll" Name="libcairo-gobject-2.dll" Source="..\build\dist\libcairo-gobject-2.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libcrypto" Guid="*">
                <File Id="libcrypto_3_x64_dll" Name="libcrypto-3-x64.dll" Source="..\build\dist\libcrypto-3-x64.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libdatrie" Guid="*">
                <File Id="libdatrie_1_dll" Name="libdatrie-1.dll" Source="..\build\dist\libdatrie-1.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libdouble_conversion" Guid="*">
                <File Id="libdouble_conversion_dll" Name="libdouble-conversion.dll" Source="..\build\dist\libdouble-conversion.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libexpat" Guid="*">
                <File Id="libexpat_1_dll" Name="libexpat-1.dll" Source="..\build\dist\libexpat-1.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libffi" Guid="*">
                <File Id="libffi_8_dll" Name="libffi-8.dll" Source="..\build\dist\libffi-8.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libfontconfig" Guid="*">
                <File Id="libfontconfig_1_dll" Name="libfontconfig-1.dll" Source="..\build\dist\libfontconfig-1.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libfreetype" Guid="*">
                <File Id="libfreetype_6_dll" Name="libfreetype-6.dll" Source="..\build\dist\libfreetype-6.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libfribidi" Guid="*">
                <File Id="libfribidi_0_dll" Name="libfribidi-0.dll" Source="..\build\dist\libfribidi-0.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libgcc_s_seh" Guid="*">
                <File Id="libgcc_s_seh_1_dll" Name="libgcc_s_seh-1.dll" Source="..\build\dist\libgcc_s_seh-1.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libgio" Guid="*">
                <File Id="libgio_2_0_0_dll" Name="libgio-2.0-0.dll" Source="..\build\dist\libgio-2.0-0.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libglib" Guid="*">
                <File Id="libglib_2_0_0_dll" Name="libglib-2.0-0.dll" Source="..\build\dist\libglib-2.0-0.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libgmodule" Guid="*">
                <File Id="libgmodule_2_0_0_dll" Name="libgmodule-2.0-0.dll" Source="..\build\dist\libgmodule-2.0-0.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libgobject" Guid="*">
                <File Id="libgobject_2_0_0_dll" Name="libgobject-2.0-0.dll" Source="..\build\dist\libgobject-2.0-0.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libgraphite2" Guid="*">
                <File Id="libgraphite2_dll" Name="libgraphite2.dll" Source="..\build\dist\libgraphite2.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libharfbuzz" Guid="*">
                <File Id="libharfbuzz_0_dll" Name="libharfbuzz-0.dll" Source="..\build\dist\libharfbuzz-0.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libiconv" Guid="*">
                <File Id="libiconv_2_dll" Name="libiconv-2.dll" Source="..\build\dist\libiconv-2.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libicudt" Guid="*">
                <File Id="libicudt78_dll" Name="libicudt78.dll" Source="..\build\dist\libicudt78.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libicuin" Guid="*">
                <File Id="libicuin78_dll" Name="libicuin78.dll" Source="..\build\dist\libicuin78.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libicuuc" Guid="*">
                <File Id="libicuuc78_dll" Name="libicuuc78.dll" Source="..\build\dist\libicuuc78.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libintl" Guid="*">
                <File Id="libintl_8_dll" Name="libintl-8.dll" Source="..\build\dist\libintl-8.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libjpeg" Guid="*">
                <File Id="libjpeg_8_dll" Name="libjpeg-8.dll" Source="..\build\dist\libjpeg-8.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_liblzma" Guid="*">
                <File Id="liblzma_5_dll" Name="liblzma-5.dll" Source="..\build\dist\liblzma-5.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libmd4c" Guid="*">
                <File Id="libmd4c_dll" Name="libmd4c.dll" Source="..\build\dist\libmd4c.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libpango" Guid="*">
                <File Id="libpango_1_0_0_dll" Name="libpango-1.0-0.dll" Source="..\build\dist\libpango-1.0-0.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libpangocairo" Guid="*">
                <File Id="libpangocairo_1_0_0_dll" Name="libpangocairo-1.0-0.dll" Source="..\build\dist\libpangocairo-1.0-0.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libpangoft2" Guid="*">
                <File Id="libpangoft2_1_0_0_dll" Name="libpangoft2-1.0-0.dll" Source="..\build\dist\libpangoft2-1.0-0.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libpangowin32" Guid="*">
                <File Id="libpangowin32_1_0_0_dll" Name="libpangowin32-1.0-0.dll" Source="..\build\dist\libpangowin32-1.0-0.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libpcre2_16" Guid="*">
                <File Id="libpcre2_16_0_dll" Name="libpcre2-16-0.dll" Source="..\build\dist\libpcre2-16-0.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libpcre2_8" Guid="*">
                <File Id="libpcre2_8_0_dll" Name="libpcre2-8-0.dll" Source="..\build\dist\libpcre2-8-0.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libpixman" Guid="*">
                <File Id="libpixman_1_0_dll" Name="libpixman-1-0.dll" Source="..\build\dist\libpixman-1-0.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libpng16" Guid="*">
                <File Id="libpng16_16_dll" Name="libpng16-16.dll" Source="..\build\dist\libpng16-16.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_librsvg" Guid="*">
                <File Id="librsvg_2_2_dll" Name="librsvg-2-2.dll" Source="..\build\dist\librsvg-2-2.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libsharpyuv" Guid="*">
                <File Id="libsharpyuv_0_dll" Name="libsharpyuv-0.dll" Source="..\build\dist\libsharpyuv-0.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libssl" Guid="*">
                <File Id="libssl_3_x64_dll" Name="libssl-3-x64.dll" Source="..\build\dist\libssl-3-x64.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libstdcpp" Guid="*">
                <File Id="libstdcpp_6_dll" Name="libstdc++-6.dll" Source="..\build\dist\libstdc++-6.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libthai" Guid="*">
                <File Id="libthai_0_dll" Name="libthai-0.dll" Source="..\build\dist\libthai-0.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libwinpthread" Guid="*">
                <File Id="libwinpthread_1_dll" Name="libwinpthread-1.dll" Source="..\build\dist\libwinpthread-1.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libxml2" Guid="*">
                <File Id="libxml2_16_dll" Name="libxml2-16.dll" Source="..\build\dist\libxml2-16.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_libzstd" Guid="*">
                <File Id="libzstd_dll" Name="libzstd.dll" Source="..\build\dist\libzstd.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_Qt6Core" Guid="*">
                <File Id="Qt6Core_dll" Name="Qt6Core.dll" Source="..\build\dist\Qt6Core.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_Qt6Gui" Guid="*">
                <File Id="Qt6Gui_dll" Name="Qt6Gui.dll" Source="..\build\dist\Qt6Gui.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_Qt6Multimedia" Guid="*">
                <File Id="Qt6Multimedia_dll" Name="Qt6Multimedia.dll" Source="..\build\dist\Qt6Multimedia.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_Qt6Network" Guid="*">
                <File Id="Qt6Network_dll" Name="Qt6Network.dll" Source="..\build\dist\Qt6Network.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_Qt6PrintSupport" Guid="*">
                <File Id="Qt6PrintSupport_dll" Name="Qt6PrintSupport.dll" Source="..\build\dist\Qt6PrintSupport.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_Qt6Svg" Guid="*">
                <File Id="Qt6Svg_dll" Name="Qt6Svg.dll" Source="..\build\dist\Qt6Svg.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_Qt6Widgets" Guid="*">
                <File Id="Qt6Widgets_dll" Name="Qt6Widgets.dll" Source="..\build\dist\Qt6Widgets.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_swresample" Guid="*">
                <File Id="swresample_6_dll" Name="swresample-6.dll" Source="..\build\dist\swresample-6.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_swscale" Guid="*">
                <File Id="swscale_9_dll" Name="swscale-9.dll" Source="..\build\dist\swscale-9.dll" KeyPath="yes" />
            </Component>
            <Component Id="DLL_zlib1" Guid="*">
                <File Id="zlib1_dll" Name="zlib1.dll" Source="..\build\dist\zlib1.dll" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <Feature Id="Core" Title="Devpad" Level="1" Absent="disallow">
            <ComponentRef Id="Devpad.exe" />
            <ComponentRef Id="Shortcuts" />
            <ComponentRef Id="License" />
            <ComponentRef Id="RegistryEntries" />

            <ComponentRef Id="qwindows.dll" />
            <ComponentRef Id="qmodernwindowsstyle.dll" />
            <ComponentRef Id="qgif.dll" />
            <ComponentRef Id="qico.dll" />
            <ComponentRef Id="qjpeg.dll" />
            <ComponentRef Id="qsvg.dll" />
            <ComponentRef Id="qsvgicon.dll" />
            <ComponentRef Id="ffmpegmediaplugin.dll" />
            <ComponentRef Id="qglib.dll" />
            <ComponentRef Id="qnetworklistmanager.dll" />
            <ComponentRef Id="qcertonlybackend.dll" />
            <ComponentRef Id="qschannelbackend.dll" />
            <ComponentRef Id="qtuiotouchplugin.dll" />

            <ComponentRef Id="devpad_de.qm" />
            <ComponentRef Id="devpad_es.qm" />
            <ComponentRef Id="devpad_fr.qm" />

            <ComponentRef Id="DLL_avcodec" />
            <ComponentRef Id="DLL_avformat" />
            <ComponentRef Id="DLL_avutil" />
            <ComponentRef Id="DLL_D3Dcompiler" />
            <ComponentRef Id="DLL_libb2" />
            <ComponentRef Id="DLL_libbrotlicommon" />
            <ComponentRef Id="DLL_libbrotlidec" />
            <ComponentRef Id="DLL_libbrotlienc" />
            <ComponentRef Id="DLL_libbz2" />
            <ComponentRef Id="DLL_libcairo" />
            <ComponentRef Id="DLL_libcairo_gobject" />
            <ComponentRef Id="DLL_libcrypto" />
            <ComponentRef Id="DLL_libdatrie" />
            <ComponentRef Id="DLL_libdouble_conversion" />
            <ComponentRef Id="DLL_libexpat" />
            <ComponentRef Id="DLL_libffi" />
            <ComponentRef Id="DLL_libfontconfig" />
            <ComponentRef Id="DLL_libfreetype" />
            <ComponentRef Id="DLL_libfribidi" />
            <ComponentRef Id="DLL_libgcc_s_seh" />
            <ComponentRef Id="DLL_libgio" />
            <ComponentRef Id="DLL_libglib" />
            <ComponentRef Id="DLL_libgmodule" />
            <ComponentRef Id="DLL_libgobject" />
            <ComponentRef Id="DLL_libgraphite2" />
            <ComponentRef Id="DLL_libharfbuzz" />
            <ComponentRef Id="DLL_libiconv" />
            <ComponentRef Id="DLL_libicudt" />
            <ComponentRef Id="DLL_libicuin" />
            <ComponentRef Id="DLL_libicuuc" />
            <ComponentRef Id="DLL_libintl" />
            <ComponentRef Id="DLL_libjpeg" />
            <ComponentRef Id="DLL_liblzma" />
            <ComponentRef Id="DLL_libmd4c" />
            <ComponentRef Id="DLL_libpango" />
            <ComponentRef Id="DLL_libpangocairo" />
            <ComponentRef Id="DLL_libpangoft2" />
            <ComponentRef Id="DLL_libpangowin32" />
            <ComponentRef Id="DLL_libpcre2_16" />
            <ComponentRef Id="DLL_libpcre2_8" />
            <ComponentRef Id="DLL_libpixman" />
            <ComponentRef Id="DLL_libpng16" />
            <ComponentRef Id="DLL_librsvg" />
            <ComponentRef Id="DLL_libsharpyuv" />
            <ComponentRef Id="DLL_libssl" />
            <ComponentRef Id="DLL_libstdcpp" />
            <ComponentRef Id="DLL_libthai" />
            <ComponentRef Id="DLL_libwinpthread" />
            <ComponentRef Id="DLL_libxml2" />
            <ComponentRef Id="DLL_libzstd" />
            <ComponentRef Id="DLL_Qt6Core" />
            <ComponentRef Id="DLL_Qt6Gui" />
            <ComponentRef Id="DLL_Qt6Multimedia" />
            <ComponentRef Id="DLL_Qt6Network" />
            <ComponentRef Id="DLL_Qt6PrintSupport" />
            <ComponentRef Id="DLL_Qt6Svg" />
            <ComponentRef Id="DLL_Qt6Widgets" />
            <ComponentRef Id="DLL_swresample" />
            <ComponentRef Id="DLL_swscale" />
            <ComponentRef Id="DLL_zlib1" />
        </Feature>

        <!-- QtTranslations feature goes here if translations are available -->
    </Product>
</Wix>
